
.section-title {
  @include Montserrat-bold;
  font-size: 30px;
  line-height: 48px;
  color: $highlight-text-color;
}


.section-title--highlight {
  color: $main-theme-color;
}


@include tablet {
  .section-title {
    font-size: 42px;
    line-height: 44px;
  }
  
}

@include desktop {
  .section-title {
    font-size: 48px;
    line-height: 50px;
  }
}

