.btn-main{
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    font-family: $font-Montserrat;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    padding: 11px 20px;
}