.company-card {
  @include flex-column-center;

  &__wraper {
    overflow: hidden;
  }

  &__img {
    object-fit: none;
  }

  &__text {
    font-family: $font-Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $highlight-text-color;
    padding: 15px 10px 4px;
  }
}
