
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    &__item {
        // margin: 23px 15px;
        display: flex;
        // justify-content: space-evenly;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}

@include tablet {
   
            .grid-container {
                grid-template-columns: 1fr 1fr;
                column-gap: 60px;
                row-gap: 50px;
                padding: 0 10px;
            }
}

@include desktop {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 90px;
        row-gap: 108px;
    }
}


