@import "./companyCard";
@import "./grid-container";

.about-fork {
  @include flex-column-center;
  padding-top: 57px;

  background-image: url(../img/PeopleAreTalking/bg.png);
  @include bg-img;

  &__title {
    padding: 0 10px;
    margin-bottom: 53px;
  }

  &__text {
    position: relative;
    font-family: $font-Lato;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #a291a5;
    padding: 0 10px 20px;
    max-width: 890px;

    margin-top: 29px;

    &::after {
      display: block;
      content: "";
      width: 80%;
      height: 2px;
      background-color: rgba(162, 145, 165, 0.7);
      position: absolute;
      bottom: 1%;
      left: 10%;
    }
  }
}

@include tablet {
  .about-fork {
    padding-top: 86px;
    &__title {
      font-size: 42px;
      margin-bottom: 80px;
    }
    &__text {
      margin-top: 69px;
    }
  }
}

@include desktop {
  .about-fork {
    padding: $padding-cont-size-desk;
    padding-top: 108px;

    &__text {
      margin-top: 118px;
    }
  }
}
