.btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  color: #c9d1d9;
  background-color: #21262d;

  border: 1px solid rgba(240, 246, 252);

  box-shadow: 0 0 transparent, 0 0 transparent;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  text-decoration: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px 12px;

  &__link {
    font-size: 12px;
    line-height: 20px;
  }

  &__img {
    vertical-align: text-top;
    color: #8b949e;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
  }

  &:hover {
    background-color: #30363d;
    border-color: #8b949e;
    transition-duration: 0.1s;
  }
}

.btn-count {
  position: relative;
  // right: 6px;

  padding: 5px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: #c9d1d9;
  vertical-align: middle;
  background-color: #0d1117;
  border: 1px solid rgba(240, 246, 252);
  border-left: 0;
  
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 0 transparent, 0 0 transparent;

  &:hover {
    color: #58a6fe;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 1px;
    height: 29px;
    background-color: rgba(135,144,154, 0);
    transition-property: background-color;
  }
}

.btn-dubble {
  min-width: 100px;
  display: flex;
  justify-content: space-between;

  &__item-left{
    padding-right: 30px;

  }
  &__item-right{
margin-left: -20px;  }

}


.btn:hover ~
.btn-count::before {
    background-color: rgba(135,144,154, 1);
    transition-duration: 0.1s;
  }

