.revolutionary {
  min-width: 320px;
  padding: 128px 10px 88px;

  &__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.86rem;
    line-height: 2rem;

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #635c73;
  }
  &__text {
    margin-top: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.42rem;
    text-align: center;
    color: $secondary-text-color;
  }

  &__btn-conteiner {
    margin-top: 36px;
  }
}

.btn-conteiner {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

@import "./_btn.scss";

@include tablet {
  .revolutionary {
    padding: 156px 10px 98px;

    &__title {
      font-size: 3rem;
      line-height: 3rem;
    }

    &__text {
      margin-top: 33px;
      font-size: 1.5rem;
      line-height: 2.28rem;
    }

    &__btn-conteiner {
      margin-top: 24px;
    }
  }
}

@include desktop {
  .revolutionary {
    padding: $padding-cont-minsize-desk;
    padding-top: 130px;
    padding-bottom: 70px;

    &__title {
      font-size: 3.9rem;
      line-height: 3.9rem;
    }

    &__text {
      margin-top: 35px;
      margin-top: 33px;
      font-size: 1.5rem;
      line-height: 2.28rem;
    }

    &__btn-conteiner {
      margin-top: 13px;
    }
  }
}
