.benefits {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__item {
    margin-bottom: 25px;
  }

  &__title {
    @include Montserrat-normal;
    font-size: 16px;
    line-height: 16px;
    color: $secondary-text-color;
    margin-bottom: 14px;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    color: $basic-text-color;
  }
}

@include tablet {
  .benefits {
    display: flex;
    flex-direction: row;
    text-align: left;
    &__item {
      min-width: 111px;
    }
    &__title {
      @include Montserrat-normal;
      margin-bottom: 16px;
    }
    &__text {
      @include Montserrat-normal;
    }
  }
}

@include desktop {
  .benefits {
    display: flex;
    flex-direction: row;
    text-align: left;
    &__item {
      min-width: 111px;
    }
    &__title {
      margin-bottom: 16px;
    }
  }
}
