@import "./_benefits.scss";

.here-is-what {
  padding: 32px 25px 6px;
  min-width: 320px;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(40px, auto);
  grid-template-areas:
    "title"
    "wraper"
    "img";
  gap: 38px;

  &__title {
    grid-area: title;
  }

  &__wraper {
    display: flex;
    flex-direction: column;
    gap: 38px;
    grid-area: wraper;
  }

  &__img-conteiner {
    position: relative;
    right: -25px;
    grid-area: img;
    overflow: hidden;
  }

  &__img {
    min-width: 510px;
    width: 100%;
    position: relative;
    // left: -5px;
  }
}

@include tablet {
  .here-is-what {
    padding: 100px 30px 0px;

    &__wraper {
      align-items: flex-start;
      gap: 60px;
    }

    &__img-conteiner {
      position: relative;
      right: -30px;
    }
  }
  
}

@include desktop {
  .here-is-what {
    background-color: #f4f4f4;
    padding: $padding-cont-size-desk;
    padding-top: 100px;
    padding-bottom: 33px;
    display: grid;
    grid-template-areas:
      "wraper title "
      "wraper img";

    grid-template-columns: 40% 55%;
    grid-template-rows: min(40px) auto;
    justify-content: space-between;
    row-gap: 15px;

    &__title {
      grid-area: title;
      text-align: center;
      padding: 0 10px 0;
    }

    &__wraper {
      padding-left: 50px;
      grid-area: wraper;
      flex-direction: column;
      align-items: flex-start;
      gap: 35px;
    }

    &__img-conteiner {
      right: 0;
      grid-area: img;
      align-self: end;

      overflow: hidden;
    }

    &__img {
      min-width: auto;
      width: auto;
      object-fit: cover;
    }
  }

}
