@import url('../btn.scss');
.header {
  position: relative;
  min-width: 320px;
  
  &__img {
    background: url(../img/header/header-bg.png);
    @include bg-img;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    font-family: $font-Montserrat;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: $highlight-text-color;
    margin: 50px auto 19px;
    }
  
  &__subtitle {
    font-family: $font-Lato;
    font-size: 18px;
    line-height: 24px;
    color: $main-theme-color;
    margin-bottom: 14px;
    width: 299px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__version {
    font-size: 14px;
    line-height: 14px;
    color: $basic-text-color;
    margin-bottom: 392px;
  }

  &__offer {
    text-align: center;
    position: relative;
  }

  &__button {
    position: absolute;
    width: 290px;
    background: $main-theme-color;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    font-family: $font-Montserrat;
    color: $highlight-text-color;
    border: none;
    width: 290px;
    height: 45px;
    cursor: pointer;
    margin: 0 auto;
    top: -23px;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &__period-text {
    font-family: $font-Montserrat;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 38px;
    font-size: 14px;
    line-height: 14px;
    color: $basic-text-color;
  }
  &__button:hover {
    background-color: white;
    border: 1px solid $main-theme-color;
    color: $main-theme-color;
  }
}


.menu {
  background-color: $menu-bg;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; 

  &__logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
  }

  &__logo-img {
    width: 43px;
    height: 41px;
    background: url(../img/header/navbar-logo.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__logo-text {
    font-family: $font-Lato;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: $main-theme-color;
    margin-left: 17px;
    display: none;
  }


  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // &__button {
  //   font-weight: 700;
  //   font-size: 15px;
  //   line-height: 15px;
  //   font-family: $font-Montserrat;
  //   color: white;
  //   background: $main-theme-color;
  //   width: 119px;
  //   height: 37px;
  //   border: none;
  //   border-radius: 50px;
  //   cursor: pointer;
  //   display: inline-block;
  //   margin-top: 33px;
  //   margin-bottom: 33px;
  // }

  &__nav-btn {
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 33px;
    width: 119px;
    height: 37px;
  }

  &__burger {
    margin-right: 15px;
    width: 26px;
    height: 21px;
    cursor: pointer;
    display: block;
  }

  &__item {
    margin-top: 35%;
    display: block;
    height: 3px;
    border-radius: 500px;
    background-color: $burger-lines;
    position: relative;
  }

  &__item:before, &__item:after {
    content: "";
    height: 100%;
    background-color: $burger-lines;
    position: absolute;
    border-radius: 50px;
    left: 0;
    z-index: 1;
  }

  &__item:before {
    margin-left: 11px;
    right: 0;
    width: 15px;
    top: -8px;
  }
  
  &__item:after {
    bottom: -8px;
    width: 100%;
  }
  
  &__burger.active &__item {
    background: none;
  }
  
  &__burger.active &__item:before {
    width: 100%;
    margin-left: 0;
    transform: rotate(45deg) translate(5px, 6px);
    transition: 0.3s;
  }
  
  &__burger.active &__item:after {
    transform: rotate(-45deg) translate(5px,-6px);
    transition: 0.3s;
  }

  &__nav {
    display: none;
  }
}
.btn-main--header{
    color: white;
    background: $main-theme-color;
}
.dropdown {
  display: none;
  position: absolute;
  z-index: 100;
  width: 90%;
  text-align: left;
  top: 103px;
  left: 5%;

  &__item {
    background: $drop-menu-bg;
    padding: 30px 40px;
    position: relative;
    border-bottom: 3px solid #454749;
  }

  &__link {
    font-family: $font-Montserrat;
    color: $highlight-text-color;
    font-size: 26px;
    line-height: 26px;
    position: relative;
   
  }

  &__item:focus &__link {
    color: $main-theme-color;
  }

  &__link::before {
    content: "";
    width: 8px;
    height: 53px;
    background: $main-theme-color;
    position: absolute;
    left: -38px;
    top: -10px;
    visibility: hidden;
  }

  &__item:active &__link::before {
    visibility: visible;
  }
}

.dropdown.active {
  display: block;
}
.menu__logo-link:hover .menu__logo-img {
  background: url(../img/header/logo-hover.png);
  width: 43px;
  height: 41px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.menu__logo-link:hover .menu__logo-text {
  color: white;
}

.menu__nav-link:hover {
  color: white;
}

.btn-main--header:hover {
  background: white;
  color: $main-theme-color;
  border: 1px solid $main-theme-color;
  box-sizing: border-box;
}
.hide{
  visibility: hidden;
}
  @include tablet{

  .header {
    &__title {
      font-size: 72px;
      margin: 69px auto 20px;
    }

    &__subtitle {
      width: 100%;
      font-size: 24px;
      margin-top: 20px;
    }

    &__version {
      margin-bottom: 470px;
    }

    &__button {
      width: 390px;
      height: 62px;
      top: -32px;
    }
    
  }
  .menu {
    position: relative;

    height: 118px;
    &__burger {
      display: none;
    }

    &__nav-btn {
      margin-right: 20px;
      width: 145px;
    }

    &__burger {
      display: none;
    }

    &__logo-text {
      display: block;
    }
    &__nav{
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      top: 85px;
      justify-content: center;
      align-items: center;
      margin: 0 auto 14px;
      gap: 35px;
      padding-top: 5px;
    }
    &__nav-item{
      list-style: none;
      white-space: nowrap;
    }
    &__nav-link{
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      font-family: $font-Montserrat;
      color: $main-theme-color;
    }
  }
  
}

@include desktop {

  .menu {
    background: transparent;
    
    &__nav-btn {
      height: 38px;
      margin: 32px auto;
      font-weight: bold;
      font-size: 16px;
      line-height: 17px;
    }
    &__nav {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__nav-item {
      margin-right: 48px;
      list-style: none;
    }

    &__nav-link {
      font-weight: bold;
      font-size: 16px;
      line-height: 17px;
      font-family: $font-Montserrat;
      color: $main-theme-color;
    }
    &__burger{
      display: none;
    }
    &__logo-text{
      display: flex;
    }
  } 

  .header {
    &__img{
      padding: $padding-cont-size-desk;
    }
    
    &__title {
      font-size: 82px;
      margin-top: 90px;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 30px;
      width: auto;
      margin-top: 19px;
    }


    &__button {
      width: 390px;
      height: 62px;
      top: -32px;
    }

    &__period-text {
      padding-top: 47px;
    }
  }
}