@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin Montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin Montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin flex-column-center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
