// Colors
$basic-text-color: #848e97;
$main-theme-color: #8d81ac;
$secondary-text-color: #323232;
$highlight-text-color: #fff;
$menu-bg: #27262a;
$burger-lines: #e5e3e3;
$drop-menu-bg: #333333;

// Breakpoints
$mobile-small: 320px;
$mobile-normal: 480px;

$tablet-min-width: 481px;
$tablet-width: 768px;
$tablet-max-width: 992px;

$desktop-min-width: 993px;
$desktop-width: 1200px;

// style section
$padding-cont-size-desk: 0 calc(50% - 1200px / 2); //conteiner 1200px
$padding-cont-minsize-desk: 0 calc(50% - 860px / 2); //conteiner 906px
$padding-cont-size-tab: 0 calc(50% - 768px / 2); //conteiner 768px

//fonts

$font-Lato: "Lato", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
