@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;700&display=swap");

@import "variables";
@import "mixins";
@import "reset";

.page {
  font-size: 14px;
}

.page-body {
  font-family: "Lato", sans-serif;
  // font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $basic-text-color;

  min-width: 320px;
}

@import "components/components.scss";

.container{
  padding-left: 10px;
  padding-right: 10px;
}
