.price-card {
  @include Montserrat-normal;
  color: $highlight-text-color;

  width: 257px;
  height: 457px;
  @include flex-column-center;
  background-color: rgba($color: #fff, $alpha: 0.11);

  &__title-wraper {
    padding: 36px 10px;
    min-height: 97px;
    align-self: stretch;
    background-color: rgba($color: #fff, $alpha: 0.06);
  }

  &__title {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__wraper {
    padding: 30px 10px 36px;
    flex-grow: 1;

    position: relative;
  }

  &__price {
    @include Montserrat-normal;
    font-size: 60px;
    line-height: 62px;
  }

  &__period {
    font-size: 14px;
    line-height: 16px;

    margin-top: 20px;
    margin-bottom: 73px;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;

    position: relative;

    &::before {
      content: "";
      display: flex;
      width: 60px;
      height: 5px;

      position: absolute;
      top: -30px;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;

      background-color: $main-theme-color;
    }
  }

  &__button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -66px;
  }
}

.price-card__price--bold {
  font-weight: 700;
}

@media (min-width: 1130px) {
  .price-card {
    &__title {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.price-card--scale {
  width: 299px;
  height: 560px;
  background-color: rgba($color: #463048, $alpha: 0.84);
}

.price-card__title-wraper--scale {
  min-height: 11px;
  background-color: rgba($color: #000, $alpha: 0.11);
}

.price-card__price--scale {
  font-size: 82px;
  line-height: 90px;
}

.price-card-button--scale {
  bottom: 47px;
}

.btn-main--transparent {
  background-color: rgba($color: #fff, $alpha: 0.15);
  color: $highlight-text-color;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.btn-main--transparent:hover,
.btn-main--transparent:active {
  background-color: rgba($color: #fff, $alpha: 0.3);
}
