@import "./_priceCard.scss";

.subscription {
  background-image: url("../img/ForkSubscription/fork-bg-01.png");
  @include bg-img;
  @include flex-column-center;
  padding: 12px 10px;
  min-width: 320px;

  &__title {
    margin-bottom: 32px;
  }

  &__wraper {
    @include flex-column-center;
    gap: 18px;
  }
}

@include tablet {
  .subscription {
    padding: 90px 10px 150px;

    &__title {
      margin-bottom: 39px;
    }

    &__wraper {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 calc(50% - 550px / 2);

      column-gap: 25px;
      row-gap: 30px;
    }
  }
}


@media (min-width: 630px) {
  .price-card {
    &__title {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .subscription__item--scale {
    margin-left: -35px;
  }
}

@media (min-width: 1130px) {
  .subscription {
    &__wraper {
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;

      gap: 15px;
    }
  }

  .subscription__item--scale {
    margin-left: 0;
  }
}

@include desktop {
  .subscription {
    padding: $padding-cont-size-desk;
    padding-top: 115px;
    padding-bottom: 73px;

    &__title {
      margin-bottom: 61px;
    }
  }
}
